body{
    background: linear-gradient(#3cbbb1, #2a1e5c)
}
h1{
    font-size: 2em;
    text-align: center;
    margin: .5em;
}
button{
    background-color: orange;
    border-radius: 1em;
    border-color: #2a1e5c;
    height: 5em;
    width: 10em;
    margin: .5em;
    color: black;
    font-size: 1em;
}
#round-container{
    justify-content: center;
    margin: 5em;
}
.flex-container{
    display: flex;
}
#score-container{
    justify-content: center;
}
#score-container h2{
    margin: .5em;
    margin-bottom: 5em;
}
#button-container{
    justify-content: space-evenly;
}
