h1{
    text-align: center;
    margin-top: 25px;
}
.round-count{
    margin-top: 5em;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5em;
}
.buttons{
    margin: 20px;
    width: 10em;
    height: 5em;
}
.flex-container{
    display: flex;
}

#round-main{
    flex-direction: column;
    align-items: center;
}
#round-secondary{
    justify-content: space-between;
    margin: auto;
}
#button-container{
    justify-content: center;
    text-align: center;
}
#reset-contianer{
    justify-content: center;
    margin-top: 15em;
}