html {
    background-color: black ;
    color: white ;
    text-align: center;
}

a{
    text-decoration: none;
}

#fire {
    background: teal;
    border-radius: .4em;
    margin: auto;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    height: 2em;
    width: 5em;
}