html {
  display: grid;
  background-color: black;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  margin: 15em;
  margin-top: 0em;
  margin-bottom: 0em;
}

#ul {
  margin-top: 1em;
  margin-left: 35em;
  margin-right: 35em;
  background: #0cb854;
  border-radius: 0.25em;
  padding: 10px;
}
#ol {
  margin-top: 1em;
  margin-left: 35em;
  margin-right: 35em;
  background: #129797;
  border-radius: 0.25em;
  padding: 10px;
}
