html {
    background-color: black ;
    color: white ;
}

h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
}

a{
    text-decoration: none;
}
p{
    text-align: center;
}
<<<<<<< HEAD

=======
ol{
    text-align: center;
}
li{
    text-align: center;
}
>>>>>>> 1ef50b8f96ef785f07da976ba3586efa28712736
#fire{
    background: teal;
    border-radius: .4em;
    margin: auto;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    height: 2em;
    width: 5em;
}