html {
  display: grid;
  background-color: black;
  color: white;
  text-align: center;
}
h1 {
  font-style: "Lobster", cursive;
  color: red;
}
a {
  text-decoration: none;
}

img {
  margin: 15em;
  margin-top: 0em;
  margin-bottom: 0em;
}

.container{
  font-size: 20px;
  display: grid;
  flex: 1;
  margin: 20%;
  margin-top: 0px;
  height: auto;
}

#ul {
  margin-top: 1em;
  background: #0cb854;
  border-radius: 0.25em;
}
#ol {
  margin-top: 1em;
  background: #129797;
  border-radius: 0.25em;
}
