body {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: F9FaF8;
}
header {
  color: F9FaF8;
  display: flex;
  flex: auto;
  background: #1f2937;
  align-items: center;
  justify-items: flex-end;
  justify-content: space-around;
}
.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.remove-padding {
  padding: 0px;
  margin: 0px;
}
.button {
  background-color: #3882f6;
  text-align: center;
  border-radius: 0.5em;
  margin-top: 10px;
  padding: 5px;
  width: 6em;
}
#header-background {
  background: #1f2937;
}
#header-links-right {
  gap: 15px;
  font-size: 18px;
}
#main-content-container {
  color: white;
  padding: 2em;
  padding-bottom: 5em;
  justify-content: space-around;
  margin-left: 2.5em;
  margin-right: 2.5em;
}
#header-left {
  display: flex;
  justify-content: space-around;
}
#header-right {
  width: 40em;
  margin: 1em;
  padding: 1.75em;
  padding-top: 5em;
  text-align: center;
  background: grey;
}
#hero{
    font-size: 48px;
}
#section-two h2{
  text-align: center;
}
#content-illustration-container{
  

}