a{
    text-decoration: none;
}

.flex-container{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

header{
    align-items: center;
    justify-content: space-evenly;
}
#header-links{
    align-content: flex-start;
    justify-content: space-between;
}